@media screen and (max-width: 768px){
    .span_1_of_4{
        width: 100%;
    }
    .span_1_of_3{
        width: 100%;
    }
}
@media screen and (max-width: 576px){
    .pagination{
        position: relative;
        left: 25%;
        width: 100%;
        transform: translateY(-50%);
    }
}
@media screen and (max-width: 480px){
    .pagination{
        position: relative;
        left: 18%;
        width: 100%;
        transform: translateY(-50%);
    }
}